@font-face {
  font-family: "Arial";
  src: local("/shelter/assets/ARIAL.TTF"), url("/shelter/assets/ARIAL.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("/shelter/assets/ARIALI_italic.TTF"), url("/shelter/assets/ARIALI_italic.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}
.footer__wrapper a, .our__friends_animals .animal__card, .header__navigation .header__list .list, .burger__menu, h1, .button__bordered, .icos__ico, .arrow {
  transition: all 0.8s ease-out;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  font-family: "Georgia", serif;
  color: #545454;
  letter-spacing: 2px;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  font-family: "Georgia", serif;
  color: #545454;
}
@media (max-width: 760px) {
  h3 {
    font-size: 2.5rem;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.hidden {
  display: none;
}

.active {
  display: inline-block;
}

.br {
  display: block;
}
@media (max-width: 768px) {
  .br {
    display: inline;
    padding-left: 5px;
  }
}

.arrow {
  width: 52px;
  height: 52px;
  border: 1px solid #F1CDB3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__bordered {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  font-family: "Georgia", serif;
  color: #292929;
  padding: 15px 40px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

@media (hover: hover) {
  h1:hover {
    color: #CDCDCD;
  }
  .arrow:not(.inactive):not(.page_number):hover {
    background-color: #FDDCC4;
    transform: scale(1.1);
  }
  .icos__ico:not(.ico_inactive):hover,
  .icos__ico:not(.ico_inactive):focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    cursor: pointer;
  }
  .button__bordered:hover {
    cursor: pointer;
    background-color: #FDDCC4;
  }
  .header__list a:not(.list-underline) {
    display: inline-block;
    position: relative;
    color: #CDCDCD;
    content: "";
  }
  .header__list a:not(.list-underline):hover {
    color: #292929;
  }
  .header__list a:not(.list-underline)::before {
    position: absolute;
    content: "";
    width: 0;
    right: -80px;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
    height: 3px;
    background-color: #F1CDB3;
    top: 25px;
  }
  .header__list a:not(.list-underline):hover::before {
    right: 0;
    width: 100%;
  }
  .animal__card:hover .button__bordered {
    cursor: pointer;
    background-color: #FDDCC4;
  }
  .animal__card:hover .animal__img > img {
    transform: scale(1.2);
  }
  .footer__wrapper .footer_link:hover a,
  .footer__wrapper .footer_link:focus a {
    color: #FDDCC4;
  }
  .maps:hover,
  .mail:hover {
    top: -5px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 760px) {
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.logo__text {
  text-align: center;
}
.logo__text .cozy_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  font-family: "Arial", serif;
  color: #292929;
  margin-top: -9px;
  letter-spacing: 1.3px;
  margin-bottom: 30px;
}

.link_logo {
  display: block;
}

.burger__menu {
  width: 30px;
  height: 40px;
}
.burger__menu:active {
  transform: rotate(360deg);
}
@media (max-width: 760px) {
  .burger__menu {
    display: block;
  }
}

.burger__line {
  height: 2px;
  background-color: #000000;
  margin-bottom: 10px;
}

.header__navigation {
  width: 35%;
  padding-top: 2%;
}
@media (max-width: 880px) {
  .header__navigation {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    width: 65%;
  }
}
@media (max-width: 768px) and (max-width: 760px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation .header__list {
  display: flex;
  justify-content: space-between;
}
.header__navigation .header__list .list {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
}
.header__navigation .header__list .list-underline {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 5px;
}

.list.list-underline {
  color: #292929;
  cursor: default;
}

.our__friends {
  background-color: #F6F6F6;
}

.our__friends_description {
  padding: 64px 0;
}
.our__friends_description h3 {
  width: 55%;
  text-align: center;
  letter-spacing: 2px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 14px;
}

.our__friends_animals {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: space-between;
}
.our__friends_animals > * {
  flex-basis: 23%;
}
.our__friends_animals .animal__card {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .our__friends_animals .animal__card {
    flex-basis: 45%;
  }
}
@media (max-width: 320px) {
  .our__friends_animals .animal__card {
    flex-basis: 90%;
  }
}
.our__friends_animals .animal__card img {
  transition: 1s;
  display: block;
}
.our__friends_animals .animal__card .animal_name {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 100%;
  font-family: "Georgia", serif;
  color: #545454;
  margin-top: 32px;
  margin-bottom: 29px;
}
.our__friends_animals .animal__card .animal__card_button {
  margin-bottom: 30px;
}
.our__friends_animals .animal__card .animal__card_button .button__bordered {
  padding: 11px 40px;
}

.arrow {
  cursor: pointer;
}

.page_number {
  background-color: #F1CDB3;
}

.button__list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  width: 31%;
  margin-left: 34.5%;
  padding-bottom: 4%;
}
@media (max-width: 880px) {
  .button__list {
    width: 65%;
    margin-left: 18%;
  }
}
@media (max-width: 768px) {
  .button__list {
    width: 57%;
    margin-left: 20%;
  }
}
@media (max-width: 760px) {
  .button__list {
    width: 87%;
    margin-left: 8%;
  }
}
@media (max-width: 320px) {
  .button__list {
    width: 100%;
    margin-left: 0;
  }
}

.arrow.inactive {
  border: 1px solid #CDCDCD;
  cursor: default;
}

#our__friend_second {
  margin-top: 34px;
}
@media (max-width: 320px) {
  #our__friend_second {
    display: none;
  }
}

@media (max-width: 768px) {
  .animal__card.remove {
    display: none;
  }
}

@media (max-width: 320px) {
  #sophia {
    display: none;
  }
}

.footer {
  background: url(".././assets/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(".././assets/footer-puppy.png");
  background-repeat: no-repeat;
  background-position: 99% 463%;
  background-size: auto 97%;
  margin-top: -10px;
}
.footer__wrapper > * {
  flex-basis: 37%;
}
@media (max-width: 880px) {
  .footer__wrapper {
    padding-bottom: 55%;
    background-size: auto 55%;
    background-position: 100% 100%;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    background-position: 50% 100%;
    background-size: auto 48.5%;
    padding-bottom: 48%;
  }
}
@media (max-width: 760px) {
  .footer__wrapper {
    background-size: auto 35%;
    padding-bottom: 55%;
  }
}
@media (max-width: 320px) {
  .footer__wrapper {
    padding-bottom: 75%;
  }
}
.footer__wrapper .footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper h3 {
  color: #FFFFFF;
  margin-top: 50px;
  letter-spacing: 2px;
}
.footer__wrapper a {
  color: #F1CDB3;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 100%;
  font-family: "Georgia", serif;
  display: inline-block;
  padding-bottom: 7%;
}
.footer__wrapper .footer_title {
  align-self: flex-start;
}
.footer__wrapper #footer_for_questions {
  padding-top: 2px;
  margin-bottom: 19px;
}
@media (max-width: 768px) {
  .footer__wrapper #footer_for_questions {
    top: -25px;
    margin-bottom: -4px;
  }
}

.footer_link {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.footer_link span {
  display: inline-block;
  padding-top: 0;
}
.footer_link span object {
  position: relative;
  z-index: -1;
  top: 9px;
  left: -10px;
}
.footer_link span .ico_map {
  top: 6px;
  left: -24px;
}

#first_block {
  position: relative;
  content: "";
}

#tel {
  padding-top: 20px;
  padding-bottom: 3px;
}

.maps,
.mail {
  padding-left: 15px;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
}
@media (max-width: 768px) {
  .maps,
  .mail {
    padding-left: 11px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper > * {
    flex-basis: 45%;
  }
}
@media (max-width: 320px) {
  .footer__wrapper > * {
    flex-basis: 90%;
  }
}/*# sourceMappingURL=style.css.map */