
//font
$font-georgia: 'Georgia', serif;
$font-arial: 'Arial', serif;


//color
$color-brand: #F1CDB3;
$color-text: #545454;
$color-dark: #4C4C4C;
$color-light: #FFFFFF;
$color-inactive: #CDCDCD;
$color-italic: #B2B2B2;
$color-hover: #FDDCC4;
$color-button-text: #292929;

//width
$content-width: 1200px;