.about__wrapper {
  background-image: url('.././assets/about-pets.png');
  background-position: 19% 91%;
  background-size: auto auto;
  background-repeat: no-repeat;
  @include media-middle { 
    background-size: auto 40%;
    background-position: 10% 90%;
    padding-bottom: 35%;
  }
  @include media-tablet {
    background-size: auto 39%;
    background-position: 51% 84%;
    padding-bottom: 62%;
  }
  @include media-mini { 
      padding-bottom: 65%;
      background-size: auto 28%;
      padding-bottom: 72%;
  }
  @include media-mobile { 
    background-size: auto 37%;
    padding-bottom: 102%;
    background-position: 51% 93%;
  }
  .about_description {
    width: 50%;
    padding-top: 80px;
    margin-left: 50%;
    margin-bottom: 100px;
    @include media-middle { 
      margin-left: 30%;
      width: 70%;
    }
    @include media-tablet {
      margin-left: 20%;
      width: 80%;
    }
    @include media-mini { 
      margin-left: 10%;
    }
    @include media-mobile { 
      width: 90%;
      margin-left: 0;
      padding-top: 41px;
    }
  
    h3 {
      letter-spacing: 1.9px;
      margin-top: 15px;
      @include media-tablet { 
        margin-top: -1px;
      }
      @include media-mini { 
        margin-top: 0;
        
      }
      @include media-mobile { 
        text-align: center;
        letter-spacing: 1.1px;
        margin-left: 31px;
        margin-bottom: 34px;
      }
      .br {
        @include media-tablet {
          display: block;
          margin-top: 2px;
      }
    }
}
    .about_text {
      @include font ($weight: 400, $size: 1.5rem, $height:155%);
    font-family: $font-arial;
    color: $color-dark;
    padding-bottom: 25px;
    width: 71%;
    margin-top: -8px;
    margin-bottom: 10px;
    @include media-tablet {
      line-height: 160%;
      margin-top: -12px;
      width: 75%;
    }
    @include media-mobile {
      margin-left: 16px;
      width: 100%;
      text-align: justify;
    }
   }
  }
}
