.about__wrapper {
  background-image: url('.././assets/about-pets.png');
  background-position: 19% 91%;
  background-repeat: no-repeat;
  .about_description {
    width: 50%;
    padding-top: 80px;
    margin-left: 50%;
    margin-bottom: 100px;
    h3 {
      letter-spacing: 1.9px;
      margin-top: 15px;
    }
    .about_text {
      @include font ($weight: 400, $size: 1.5rem, $height:155%);
    font-family: $font-arial;
    color: $color-dark;
    padding-bottom: 25px;
    width: 71%;
    margin-top: -8px;
    margin-bottom: 10px;
   }
  }
}
