.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
h1 {
  @extend %transition;
}
.logo {
  @include media-mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  @include media-mobile { 
    width: 80%;
  }
}
.logo__text {
  text-align: center;
  .cozy_text{
    @include font ($weight: 400, $size: 1.3rem, $height:100%);
    font-family: Arial, Helvetica, sans-serif;
    color: $color-light;
    margin-top: -9px;
    letter-spacing: 1.3px;
  }
  @include media-mobile {
    padding-left: 5px;
  }
}
.link_logo {
  display: block;
}
.burger__menu {
  width: 30px;
  height: 40px;
  @extend %transition;
  @include media-mini {
    display: block;
    margin-right: 15px;
    z-index: 100;
    position: relative;
    content: "";
  }
  @include media-mobile {
    margin-right: -49px;
    padding-top: 10px;
  }
}
.burger__line {
  height: 2px;
  background-color: #F1CDB3;
  margin-bottom: 10px;
}
.header__navigation {
  width: 37%;
  padding-top: 2%;
  margin: 0;
  @include media-middle { 
    padding-top: 3.2%;
    width: 62.5%;
  }
  @include media-mini {
    width: 320px;
   position: absolute;
   content: '';
   height: 100vh;
    background-color: #292929;
    z-index: 30;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 220px;
    right: -320px;
    top: 0;
    transform: translateX(100%);
  	transition: transform 0.8s; 

  }

  .header__list {
    display: flex;
    justify-content: space-between;
    @include media-mini {
      flex-direction: column;
    }
    .list {
      @include font ($weight: 400, $size: 1.5rem, $height:160%);
      font-family: Arial, Helvetica, sans-serif;
      @extend %transition;
      color: $color-inactive;
      @include media-mini {
        font-size: 3.2rem;
        line-height: 283%;
      }
    }
    .list.list-underline {
      border-bottom: 3px solid $color-brand;
      padding-bottom: 5px;
      color: #FAFAFA;
    }
  }

}
.list.list-underline {
  color: #FAFAFA;
  cursor: default;
}

.appier {
  
  transform: translateX(-100%);
  }

.rotate {
  margin-top: 17px;
  transform: rotate(-90deg);
}
.fade {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;

  }
  .overlay {
    display: none;
    position: static;
    }