.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding-top:  30px;
}

.logo__text {
  text-align: center;
  .cozy_text{
    @include font ($weight: 400, $size: 1.3rem, $height:100%);
    font-family: $font-arial;
    color: $color-light;
    margin-top: -5px;
    letter-spacing: 0.55px;
  }
}

.burger__menu {
  width: 30px;
  height: 40px;
  transform: rotate(90deg);
}
.burger__line {
  height: 2px;
  background-color: $color-brand;
  margin-bottom: 10px;
}
.header__navigation {
  width: 40%;
  padding-top: 3%;
  .header__list {
    display: flex;
    justify-content: space-between;
    .list {
      color: $color-inactive;
      @include font ($weight: 400, $size: 1.5rem, $height:160%);
      font-family: $font-arial;
    }
    .list-underline {
      border-bottom: 3px solid $color-brand;
      padding-bottom: 5px;
    }
  }

}

