.help__wrapper {
  padding-top: 6%;
  padding-bottom: 3.5%;
  @include media-tablet {
    padding-top: 10.5%;
  }
  @include media-mobile {
    padding-bottom: 0;
  }
  h3 {
    margin: auto;
    text-align: center;
    width: 40%;
    letter-spacing: 2px;
    @include media-tablet {
      width: 50%;
    }
    @include media-mobile {
      width: 81%;
      padding-top: 8px;
      padding-bottom: 15px;
    }
  }
}
.icos {
  margin-top: 5%;
  @include layout(14%);
  justify-content: space-around;
  column-gap: 7%;
  width: 95%;
  padding-left: 4%;
  row-gap: 35px;
  @include media-tablet {
    column-gap: 17%;
    width: 84%;
    margin-left: 6%;
    margin-top: 8%;
    row-gap: 21px;
    margin-bottom: -167px;
  }
  @include media-mini {
    margin-bottom: 0;
  }
  @include media-mobile {
    width: 94%;
    row-gap: 6px;
  }
  .help__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include media-tablet {
      min-width: max-content;
      margin-bottom: 3%;
    }
    .help_text {
      font-size: 2.1rem;
      font-family: $font-georgia;
      margin-top: 17%;
        @include media-tablet {
        font-size: 1.9rem;
        letter-spacing: 1.9px;
        margin-top: 31px;
      }
      @include media-mini {
        font-size: 1.7rem;
      }
      @include media-mobile {
        font-size: 1.5rem;
        margin-top: 11px;
        letter-spacing: 1px;
      }
    }
  }
}
.help_vitamins {
  position: relative;
  content: "";
  left: 5%;
  @include media-tablet {
    position: static;
  }
  @include media-mobile {
    position: relative;
  content: "";
  left: -5%;
  }
}
.help_medicine {
  position: relative;
  content: "";
  right: 1%;
  @include media-tablet {
    right: 8%;
  }
  @include media-mini {
    position: static;
  }
}
.help_collars {
  position: relative;
  content: "";
  right: 5%;
  @include media-tablet {
    right: 26%;
  }
  @include media-mini {
    position: static;
  }
}
.help_sleeping {
  position: relative;
  content: "";
  right: 7%;
  @include media-tablet {
    top: -172px;
    left: 41%;
  }
  @include media-mini {
    position: static;
  }
  @include media-mobile {
    position: relative;
    content: "";
    left: -94px;
    top: 10%;
  }
}
.help_bowls {
  position: relative;
  content: "";
  right: 1%;
  @include media-tablet {
  
    right: 5%;
  }
  @include media-mini {
    position: static;
  }
}
.help_shampoos {
  @include media-tablet {
    position: relative;
    content: "";
    right: 6%;
  }

}
.icos__ico {
  @include media-mini {
    transform: scale(0.85);
  }
}
