.help__wrapper {
  padding-top: 7%;
  h3 {
    margin: auto;
    text-align: center;
    width: 40%;
  }
}
.icos {
  margin-top: 5%;
  @include layout(14%);
  justify-content: space-around;
  column-gap: 7%;
  .help__block {
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}