.in__addition {
  background-color: #F6F6F6;
}
.in__addition__wrapper {
  padding-left: 40%;
  background-image: url('.././assets/donation-dog.png');
  background-position: 0% 42%;
  background-repeat: no-repeat;
  width: 70%;
  padding-bottom: 6.2%;
  @include media-tablet {
    padding-left: 0;
    background-position: 0% 90%;
  }
  h3 {
    padding-top: 21%;
    letter-spacing: 2px;
  }
  .in__addition_text {
    @include font ($weight: 400, $size: 1.7rem, $height:110%);
  
    color: $color-text;
     margin-top: -4%;
  }

}
.input {
  padding-left: 54px;
  background-color: #F1CDB3;
  @include font ($weight: 400, $size: 2.3rem, $height:115%);
  font-family: $font-georgia;
  color: $color-text;
  border-radius: 9px;
  width: 349px;
  background-image: url('.././assets/credit-card.png');
  background-repeat: no-repeat;
  background-position: 4% 50%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: $color-text;
  }
}  
.bank_text#arial_text {
  @include font ($style: Italic, $weight: 400, $size: 1.2rem, $height:140%);
  font-family: Arial, Helvetica, sans-serif;
  color: $color-italic;
  width: 96%;
  padding-bottom: 6%;
  margin-top: 20px;
  @include media-tablet {
    padding-bottom: 56%;
  }
}

