.our__friends {
  background-color: #F6F6F6;
}
.our__friends_description {
  padding: 64px 0;
  h3 {
    width: 35%;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    padding-top: 6px;
  }
}
.our__friends_animals {
  @include layout(28%);
  margin: 60px 60px 0 60px;
  justify-content: space-around;
  .animal__card {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %transition;
    .animal_name {
      @include font ($weight: 400, $size: 2.0rem, $height:100%);
      font-family: $font-georgia;
      color: $color-text;
      margin-top: 27px;
      margin-bottom: 29px;
    }
    .animal__card_button {
      margin-bottom: 30px;
      .button__bordered {
        padding: 11px 37px;
      }
    }
  }
}
.our__friends_button {
  a {
    display: inline-block;
    margin-left: 39.5%;
    position: relative;
    content: "";
    top: -43px;
  }
}
.arrow {
  position: relative;
  content: '';
  cursor: pointer;
}
.arrow_left {
  top: -251px;
}
.arrow_right {
  left: 95.5%;
  top: -297px;
}
.button__bordered {
  @extend %transition;
}
