.our__friends {
  background-color: #F6F6F6;
}
.our__friends_description {
  padding: 80px 0;
  h3 {
    width: 35%;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;

  }
}
.our__friends_animals {
  @include layout(28%);
  margin: 60px 60px 0 60px;
  justify-content: space-around;
  column-gap: 5%;
  .animal__card {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .animal_name {
      @include font ($weight: 400, $size: 2.0rem, $height:100%);
      font-family: $font-georgia;
      color: $color-text;
    }
    .animal__card_button {
      margin-bottom: 30px;
    }
  }
}
.our__friends_button {
  a {
    display: inline-block;
    margin-left: 45%

  }
}
.arrow {
  position: relative;
  content: '';
  cursor: pointer;
}
.arrow_left {
  top: -300px;
}
.arrow_right {
  left: 95%;
  top: -330px;
}
.button__bordered {
  @extend %transition;
}
