

@font-face {
	font-family: 'Arial'; 
	src: local('Ariall'),
  url('/shelter/assets/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Arial'; 
	src: local('Ariall italic'),
  url('/shelter/assets/ARIALI_italic.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
//font
$font-georgia: 'Noto Sans Georgian', sans-serif;
$font-arial: 'Arial', sans-serif;
$font-arial-italic: 'Arial-italic', sans-serif;

//color
$color-brand: #F1CDB3;
$color-text: #545454;
$color-dark: #4C4C4C;
$color-light: #FFFFFF;
$color-inactive: #CDCDCD;
$color-italic: #B2B2B2;
$color-hover: #FDDCC4;
$color-button-text: #292929;

//width
$content-width: 1200px;