.header__wrapper {
  display: flex;
  justify-content: space-between;
}
h1 {
  @extend %transition;
}
.logo {
  @include media-mobile { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.logo__text {
  text-align: center;
  .cozy_text{
    @include font ($weight: 400, $size: 1.3rem, $height:100%);
    font-family: $font-arial;
    color: $color-button-text;
    margin-top: -9px;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
  }
}
.link_logo {
  display: block;
}
.burger__menu {
  width: 30px;
  height: 40px;
  @extend %transition;
  &:active {
    transform: rotate(360deg);
  }
  @include media-mobile { 
    display: block;
  }
}
.burger__line {
  height: 2px;
  background-color: #000000;
  margin-bottom: 10px;
}
.header__navigation {
  width: 35%;
  padding-top: 2%;
  @include media-tablet {
    width: 65%;
    @include media-tablet {
      display: none;
    }
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    .list {
      @include font ($weight: 400, $size: 1.5rem, $height:160%);
      font-family: Arial, Helvetica, sans-serif;
      @extend %transition;
    }
    .list-underline {
      border-bottom: 3px solid $color-brand;
      padding-bottom: 5px;
    }
  }

}
.list.list-underline {
  color: $color-button-text;
  cursor: default;
}

