.our__friends {
  background-color: #F6F6F6;
}
.our__friends_description {
  padding: 64px 0;
  
  h3 {
    width: 35%;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 14px;
  }
}
.our__friends_animals {
  @include layout (23%);
  margin-top: 45px;
  justify-content: space-between;
  .animal__card {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %transition;
    overflow: hidden;
    img {
      transition: 1s;
      display: block;
    }
    .animal_name {
      @include font ($weight: 400, $size: 1.9rem, $height:100%);
      font-family: $font-georgia;
      color: $color-text;
      margin-top: 32px;
      margin-bottom: 29px;
    }
    .animal__card_button {
      margin-bottom: 30px;
      .button__bordered {
        padding: 11px 40px;
      }
    }
  }
}
.arrow {
  cursor: pointer;
}
.page_number {
  background-color: $color-brand;
}
.button__bordered {
  @extend %transition;
}
.button__list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  width: 31%;
  margin-left: 34.5%;
  padding-bottom: 3.5%;
}
.arrow.inactive {
  border: 1px solid $color-inactive;
}
.our__friends_description:nth-child(3) {
  padding-top: 24px;
}
