@font-face {
  font-family: "Arial";
  src: local("/shelter/assets/ARIAL.TTF"), url("/shelter/assets/ARIAL.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("/shelter/assets/ARIALI_italic.TTF"), url("/shelter/assets/ARIALI_italic.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}
* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  font-family: "Georgia", serif;
  color: #F1CDB3;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  font-family: "Georgia", serif;
  color: #FFFFFF;
  width: 60%;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  font-family: "Georgia", serif;
  color: #545454;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.hidden {
  display: none;
}

.active {
  display: inline-block;
}

.button__round {
  display: inline-block;
  width: auto;
  background-color: #F1CDB3;
  color: #292929;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 15px 45px;
  border-radius: 100px;
}

.arrow {
  width: 52px;
  height: 52px;
  border: 1px solid #F1CDB3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  content: "";
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding-top: 30px;
}

.logo__text {
  text-align: center;
}
.logo__text .cozy_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  font-family: "Arial", serif;
  color: #FFFFFF;
  margin-top: -5px;
  letter-spacing: 0.55px;
}

.burger__menu {
  width: 30px;
  height: 40px;
  transform: rotate(90deg);
}

.burger__line {
  height: 2px;
  background-color: #F1CDB3;
  margin-bottom: 10px;
}

.header__navigation {
  width: 40%;
  padding-top: 3%;
}
.header__navigation .header__list {
  display: flex;
  justify-content: space-between;
}
.header__navigation .header__list .list {
  color: #CDCDCD;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: "Arial", serif;
}
.header__navigation .header__list .list-underline {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 5px;
}

.not__only {
  padding-top: 20%;
  margin-top: -20%;
  background: url(".././assets/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.not__only__wrapper {
  display: flex;
  background: url(".././assets/start-screen-puppy.png") 100% 100%/auto 90% no-repeat;
}

.not__only_description {
  width: 50%;
  padding-bottom: 14%;
  padding-top: 10%;
}

.not__only_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: "Arial", serif;
  color: #CDCDCD;
  padding-bottom: 5%;
  width: 80%;
  text-align: justify;
}

.about__wrapper {
  background-image: url(".././assets/about-pets.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
}
.about__wrapper .about_description {
  width: 50%;
  padding-top: 80px;
  margin-left: 50%;
  margin-bottom: 100px;
}
.about__wrapper .about_description .about_text {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 130%;
  font-family: "Arial", serif;
  color: #4C4C4C;
  padding-bottom: 25px;
}/*# sourceMappingURL=style.css.map */