.button__round {
  display: inline-block;
  width: auto;
  background-color: $color-brand;
  color: $color-button-text;
  @include font($weight: 400, $size: 1.7rem, $height:130%);
  letter-spacing: 0.06em;
  text-align: center;
  padding: 15px 45px;
  border-radius: 100px;
}

.arrow {
  width: 52px;
  height: 52px;
  border: 1px solid $color-brand;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  content: "";
}