.button__round {
  display: inline-block;
  width: auto;
  background-color: $color-brand;
  color: $color-button-text;
  @include font($weight: 400, $size: 1.7rem, $height:130%);
  letter-spacing: 0.06em;
  text-align: center;
  padding: 15px 47px;
  border-radius: 100px;
  @extend %transition;
  letter-spacing: 1.6px;
  @include media-mini {
    font-size: 1.5rem;
    padding: 10px 19px;
    margin-top: 15px;
  }
  @include media-mobile {
    padding: 15px 47px;
    font-size: 1.7rem;
    margin-top: 3px;
  }
}

.arrow {
  width: 52px;
  height: 52px;
  border: 1px solid $color-brand;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  content: "";
  @extend %transition;
}
.icos__ico {
  @extend %transition;
}
.button__bordered {
  @include font ($weight: 400, $size: 1.7rem, $height:130%);
  font-family: $font-georgia;
  color: $color-button-text;
  padding: 15px 39px;
  border: 2px solid $color-brand;
  border-radius: 100px;
  @extend %transition;
  padding-top: 16px;
  @include media-mini {
    font-size: 1.5rem;
    padding: 10px 19px;
    
  }
  @include media-mobile { 
    font-size: 1.9rem;
    padding: 6px 43px;
  }
}
