* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
 
}
:root {
  font-family: 'Montserrat', sans-serif;;
  font-size: 10px;
  
}
body {
  background-color: black;
  color: white;
}

.button__bordered {
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  font-size: 1.6rem;
  margin-left: 15px;
  background-color: black;
  margin-top: 15px;
  text-transform: uppercase;
}
.button_colored {
 background-color: rgb(163, 163, 164);
 color: black;
 border: 1px solid white;
 padding: 5px 15px;
 font-size: 1.2rem;
 margin-left: 15px;
 text-transform: uppercase;
}
#btn_race,
#btn_reset {
  background-color: rgb(225, 225, 151);
}
#btn_select,
#btn_remove {
  margin-left: 0;
}
.selected {
  background-color: rgb(122, 122, 214);
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#btn_A,
#btn_B {
  margin: 0;
  font-size: 1.0rem;
}
/* race */
.section__config {
  padding-top: 15px;
  width: 340px;
  margin-left: 5px;
  margin-bottom: 25px;
}
.div_config {
  display: flex;
  align-items: start;
}
.car_name {
  padding: 4px;
  margin-right: 15px;
}
#section_main {
  padding: 10px;
}
.title_winners {
  font-size: 3.6 rem;
}
.title_winners,
.winners_page {
  color: white;
  margin-top: 15px;
}
.div_buttons {
  padding-top: 10px;
}
.garage_car {
  border-bottom: 2px dotted white;
  position: relative;
  margin-bottom: 15px;
}
.garage_title {
  font-size: 3.6rem;
  margin-top: 25px;
}
.garage_page {
  font-size: 2.6rem;
  margin-top: 15px;
}
.flag {
  position: absolute;
  font-size: 3.6rem;
  right: 85px;
  top: 77px;
}
li {
  list-style: none;
}
span {
  font-size: 1.4rem;
}
/* winners */
.table {
  width: 80%;
  border: none;
  margin-left: 15px;
}
.thead,
.td_head {
  border: 1px solid rgb(148, 234, 42);
}
.thead,
.tr,
.td {
  color: white;
  text-align: center;
  height: 25px;
}